.body-hdr {
    background-color: #386987;
    /*#0e6dac;*/
    margin-top: 100px;
    width: 97.5%;
    height: 100%;
    border: #064369 8px dotted;
    margin-left: calc(1.5%);
}

.body-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body-description {
    font-family: 'Nerko One', cursive;
    height: 40vh;
    width: 75vh;
    color: white;
    text-align: left;
    padding-top: 10px;
    padding-left: 9px;
    text-indent: -2px;
    font-size: 20px;
    margin-bottom: 20px;
}

.body-imagen {
    width: 26vh;
    height: 40vh;
    margin-top: 3vh;
}

.body-empty-div {
    width: 100px;
    height: 40vh;
    margin-top: 3vh;
}

.body-empty-divR {
    height: 40vh;
    margin-top: 3vh;
}

.body-empty-divL {
    height: 40vh;
    margin-top: 3vh;
}

.body-minfooter {
    height: 40vh;
    width: 173vh;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 45px;
    color: white;
    font-size: 20px;
    ;
}

.imagen-front {
    width: 36vh;
    height: 42vh;
}

.imagen-back {
    width: 36vh;
    height: 42vh;
}

.imagen-me {
    width: 26vh;
    height: 42vh;

}

.socialnetworks {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.linkedin {
    color: #15547b;
}

.github {
    color: #f0f6fc;
}

.body-main .body-description a {
    color: red;
}

.body-main .body-description a:hover {
    color: white;
    transform: scale(.1);
}

.socialnetworks a {
    font-size: 0.6cm;
}

.socialnetworks .github:hover {
    color: grey;
    transform: scale(1.1);
}

.socialnetworks .linkedin:hover {
    color: #f0f6fc;
    transform: scale(1.1);
}